/*FAQ*/
.faq {
    font-family: "Exo2Regular", sans-serif;
    margin-top: 72px;
}
.wrapper-faq{
    max-width: 817px;
    margin: 0 auto;
}
.faq-title{
    font-family: "Exo2Regular", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #191d39;
}
.faq-descr, .wrapper-faq  > p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
}
.wrapper-faq h4 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
}
.qe-toggle-title1   {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
    border-bottom: 1px solid #30d4c8;
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.strong-faq {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.img-angle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.angle-down {
    background-image: url(../img/angle-down.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    min-width:32px;
    height:20px;
    /*float: right;*/
    margin-bottom:5px;
}
.angle-up {
    background-image: url(../img/angle-up.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width:32px;
    height:20px;
    /*float: right;*/
    margin-bottom:5px;
}
.qe-faq-toggle1 {
    padding-bottom: 24px;
}
.qe-toggle-content1 {
    font-family: "Exo2Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
}
.header-faq {
    background: #191d39;
    position: relative;
    z-index: 1;
}
/*end FAQ*/