.mediacentre-sub-header-block-title {
    padding: 207px 0 104px 55px;
    font-size: 26px;
    font-weight: 500;
    font-family: "Exo2Regular", sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin-left: -18%;
    padding-right: 25%;
}
.mediacentre-sub-header-block-title .media-part-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 153px;
    height: 145px;
    left: -15%;
    top: -108%; 
    background: url(../img/sub-header/sub-header-title-icon.svg) center no-repeat;
    background-size: cover;
    z-index: -1;
}
/* стили нижней страницы mediacentre */
.mediacentre {
    padding-top: 72px;
}
.mediacentre-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    padding-bottom: 72px;  
}
.mediacentre-news {
    max-width: 72%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mediacentre-block__news-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px;
}
.mediacentre-news-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.mediacentre-news-post {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-right: 52px;
}
.mediacentre-block__title {
    font-family: "Exo2Light", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    color: #191d39;
    letter-spacing: normal;
    padding-right: 32px;
}
.mediacentre-button {
    width: 114px;
    height: 32px;
    border-radius: 8px;
    border: solid 1px #be1056;
    background: #fff;
    text-align: center;
}
.mediacentre-button a {
    font-family: "Exo2Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #be1056;
    vertical-align: middle;
    text-decoration: none;
    margin-bottom: -10px;
}
.mediacentre-button:hover {
    text-decoration: underline;
}
.mediacentre-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    max-width: 28%;
    margin: 0;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mediacentre-block__events-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px;
}
.mediacentre-events-block {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mediacentre-event-date {
    font-family: "Exo2Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #3f3d8f;
    padding-bottom: 8px;
}
.mediacentre-event-title {
    font-family: "Exo2Light", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
    padding-bottom: 16px;
}
.mediacentre-event-location {
    font-family: "Exo2Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #84848a;
    padding-left: 22px;
    padding-bottom: 48px;
    position: relative;
}
.mediacentre-event-location::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 19px;
    left: 0px;
    top: 0;
    background: url(../img/marker.svg);
}
.mediacentre-event-card:last-child .mediacentre-event-location {
    padding-bottom: 0;
}
.mediacentre-subscribe {
    padding-top: 72px;
    padding-left: 51px;
    padding-bottom: 72px;
    background-color: #191d39;
    position: relative;
    z-index: 0;
}
.mediacentre-subscribe::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/casino/request-quote-bg.svg);
        background-size: auto auto;
    background-size: cover;
    opacity: .15;
    z-index: -1;
}
.mediacentre-subscribe-title {
    font-family: "Exo2Light", sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: normal;
    padding-bottom: 24px;
}
.mediacentre-subscribe-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mediacentre-subscribe-descr {
    font-family: "Exo2Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    max-width: 510px;
}
.mediacentre-subscribe-input {
    width: 287px;
    height: 48px;
    border-radius: 8px;
    border: solid 3px #534994;
    font-family: "Exo2Light", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    background-color: #191d39;
    color: #d9d9e9;
    padding-left: 24px;
}
/* .subscribe-input-field {
    margin-right: 32px;
} */
.mediacentre-subscribe-button:hover {
    text-decoration: underline;
}
.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* width: 49%; */
}
.button-320 {
    width: 48px;
    height: 48px;
    border-radius: 0 8px 8px 0;
    position: relative;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf1056), to(#9a1c5d));
    background: linear-gradient(to bottom, #bf1056, #9a1c5d);
}
.button-320::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 22.4px;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -11.2px;
    background: url(../img/arrow-next.svg);
}
.mediacentre-article-img {
    -ms-flex-preferred-size: 71%;
    flex-basis: 68%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*flex-grow: 1;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-direction: column;
    margin-right: 4%;
    /*flex: 1 1 auto;*/
}
.mediacentre-article-card {
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /*max-width: 28%;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}
.mediacentre-article-img img {
    height:533px;
}
.mediacentre-article-heading{
    text-transform: uppercase;
    width: 95px;
    height: 24px;
    font-family: Exo2.0;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: left;
    color: #191d39;
    letter-spacing: normal;
    margin-bottom: 16px;
}
.mediacentre-article-title{
    text-transform: uppercase;
    font-family: Exo2.0;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
    margin-bottom: 24px;
}
.mediacentre-article-link {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
span.wpcf7-form-control-wrap.mediacentre-subscribe-input {
    height: 48px;
    padding: 10px 0 10px 24px;
    margin-right: 32px;
}
.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
    background: transparent;
    color: #fff;         
}