@media screen and (min-width: 1200px) and (max-width: 1245px){
    .header-block__menu {
        margin-right: -3%;
    }
    .nav {
        padding-left: 0;
    }
    .nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav li:nth-child(6) {
        -webkit-transform: translateX(370%);
        transform: translateX(370%);
    }
    .nav li:nth-child(7) {
        right: -79%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 61px;
    }
    .sub-header-block {
        width: 1170px;
    }
}