@media screen and (min-width: 992px) and (max-width: 1023px){
    .header-block__menu {
        margin-right: -3%;
    }
    .nav {
        padding-left: 0;
    }
    .nav li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav li:nth-child(6) {
        -webkit-transform: translateX(185%);
        transform: translateX(185%);
    }
    .nav li:nth-child(7) {
        right: -41%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 61px;
    }
    .sub-header-block {
        width: 817px;
    }
    .sub-header-block-title {
        margin-left: -7%;
    }
    .mediacentre-sub-header-block-title {
        margin-left: -13%;
        padding-right: 25%;
    }
    .mediacentre-news {
        max-width: 70%;
    }
    .mediacentre-events {
        max-width: 30%;
    }
    .mediacentre-news-post {
        padding-right: 40px;
    }
    .mediacentre-subscribe-descr {
        max-width: 400px;
    }
    .press-sub-header-block-title {
        padding-top: 183px;
        padding-left: 4px;
        padding-right: 0;
        padding-bottom: 80px;
        width: 364px;
    }
    .press-sub-header-block-img {
        margin-right: -25%;
    }
    .pod-timeline-descr {
        width: 144px;     
        margin: 0 auto;   
    }
    .pod-customers-slider-img {
        width: 149px;
        margin: 0 auto;
    }
    .home-casino-header-block-descr-title {
        font-size: 21px;
    }
    .home-casino-mask {
        top: 92px;
    }
    .news-sub-header-block {
        width: 100%;
    }
    .news-sub-header-block-title { 
        padding-left: 0;       
        margin-left: 9.5%;
        padding-right: 17%;   
    }
    .post-news-image {
        padding-bottom: 16px;
    }
}