/*Table-why-us*/
.table-features {
    padding: 72px 0;
}
.table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.table-head {
    border-bottom: 4px solid #3f3d8f;
    padding-bottom: 24px;
}
.table-head-cell-title {
    width: 35%;
    font-family: "Exo2Regular", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
}
.table-head-cells {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 65%;
    font-family: "Exo2Regular", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #191d39;
}
.table-body-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #30d4c8;
    padding: 12px 0 10px 0;
}
.table-body-mobile-features {
    display: none;
    width: 35%;
}
.table-body-desctop-features {
    display: inline-block;
    width: 35%;
    text-align: justify;
}
.table-body-business {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 65%;
    text-align: center;
}
.table-body-business-cell span {
    font-size: 35px;
}
.table-body-business-cell {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "Exo2Regular", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #3f3d8f;
}

/*End Table-why-us*/